@tailwind base;
@layer base {
  :root {
    --swiper-pagination-color: theme(colors.primary);
    --swiper-pagination-bullet-inactive-color: theme(colors.primary_92);
    --swiper-pagination-bullet-inactive-opacity: 0.9;
  }
  html {
    font-size: 100%;
  }
  body {
    @apply font-gilroy font-semibold text-text_base lg:text-text_30;
  }
}
