// text-border
.text-border {
  color: white !important;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: theme("colors.secondary");
}

.marquee {
  position: relative;
  overflow: hidden;
  display: grid;
  gap: 16px;

  &__direction {
    overflow: hidden;
    position: relative;
  }

  &__direction-container {
    margin: auto 0;
    white-space: nowrap;
  }

  &__direction-right:first-child {
    position: absolute;
    transform: translateX(-100%);
    top: 0;
    left: -16px;
  }

  &__direction-left:last-child {
    position: absolute;
    top: 0;
  }
}
nav {
  @apply text-accept_blue;
  display: flex;
  gap: 45px;
  font-size: 18px;
  line-height: 21.47px;
}

main {
  @apply grid gap-5 lg:gap-10;
}
//home
.home-slider {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .prev,
  .next {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    color: white;
    background: theme("colors.secondary_hover");
    width: 44px;
    height: 44px;
    border-radius: 10px;
    display: grid;
    place-content: center;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  .prev {
    left: 24px;
    @screen lg {
      left: 80px;
    }
  }
  .next {
    right: 24px;
    @screen lg {
      right: 80px;
    }
  }
}
//section
.section-first {
  @apply bg-light_blue overflow-hidden mb-5 lg:mb-10;
  padding-top: 68px;
  padding-bottom: 32px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @screen lg {
    padding-top: 88px;
    padding-bottom: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .content {
    @apply grid gap-10 lg:gap-6;
  }
  h1 {
    @apply text-accept text-m_text_20 lg:text-text_10;
    font-weight: 800;
  }
  h3 {
    @apply text-accept text-m_text_21 lg:text-text_21 font-semibold;
  }
  .btns {
    @apply flex lg:grid grid-cols-[262px_262px] gap-6 overflow-auto pb-6 lg:pb-0 -mr-6 lg:mr-0;
    & > * {
      @screen lg {
        width: 262px;
      }
    }
  }
  .wrapper {
    @apply grid gap-10 lg:gap-12 mt-6 lg:mt-12;
  }
  &.full {
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -70px 0;
    max-width: 1920px;
    padding: 158px 24px 20px;
    @screen lg {
      padding: 268px 80px 50px;
      background-position: top center;
    }
    h1 {
      @apply text-accept;
      font-weight: 700;
      font-size: 28px;
      line-height: 36.4px;

      @screen lg {
        font-weight: 800;
        font-size: 64px;
        line-height: 79.87px;
      }
    }
  }
}
.section-slider {
  padding: 0;
  .wrapper {
    padding: 0;
    margin: 0;
  }
}
.section-other {
  h1 {
    max-width: 80vw;
    @screen lg {
      max-width: 966px;
    }
  }
  .data {
    @apply text-accept_08 text-text_40 font-normal;
  }
}
.home-slider {
  padding: 0;
  height: 417px;
  background: transparent;
  @screen lg {
    height: 100vh;
  }
  .prev,
  .next {
    transform: translateY(-50%);
    top: 50%;
  }
}
.section-black {
  position: relative;

  & > * {
    position: relative;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      92.96deg,
      rgba(255, 255, 255, 0) 19.16%,
      rgba(0, 0, 0, 0.2) 62.57%
    );
  }
}
.section {
  @apply p-8 lg:p-7.5 border border-border;
  border-radius: 20px;
  @screen lg {
    border-radius: 40px;
  }
  h2 {
    @apply font-bold text-accept text-m_text_20 lg:text-text_20  mb-6 lg:mb-8;
  }

  &__other {
    @apply bg-light_blue;
  }
}

//news
.news {
  .list {
    @apply grid lg:grid-cols-4 gap-5;
  }
  button {
    @apply mt-5 lg:mt-16;
  }
}

//contacts
.contacts {
  transform: translateY(40px);
  margin-top: -40px;
  @screen lg {
    transform: translateY(156px);
    margin-top: -156px;
  }
  ul {
    @apply grid gap-4 lg:grid-cols-3;
    li {
      @apply bg-white py-5 px-4 grid gap-5;
      align-content: start;
      border-radius: 20px;
      @screen lg {
        align-content: space-between;
      }
      & > div {
        @apply grid gap-3;
      }
      .work-time {
        @apply grid text-text_base font-semibold;
      }
      h4 {
        @apply text-accept_08 text-text_40 font-medium;
      }
      a.link {
        @apply text-accept text-m_text_20 font-extrabold;
      }
      address {
        @apply text-m_text_21 font-semibold;
        font-style: normal;
      }
      .soc {
        display: flex;
        gap: 12px;
      }
    }
  }
}

//transmission-readings
.transmission-readings {
  ul {
    @apply grid gap-4 lg:gap-y-2 lg:gap-x-[100px] lg:grid-cols-2 text-text_base lg:text-text_21;
  }
  li {
    position: relative;
    padding: 28px 0 0 24px;
    @screen lg {
      padding: 43px 0 0 46px;
    }
    @screen lg {
      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(2) {
        order: 3;
      }
      &:nth-child(3) {
        order: 2;
      }
      &:nth-child(4) {
        order: 4;
      }
    }
    .number {
      font-size: 60px;
      line-height: 78px;
      font-weight: 500;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    .content {
      @apply text-text_base lg:text-text_21;
      position: relative;
      z-index: 1;
      font-weight: 500;
      .links > * {
        @apply block;
      }
      &__list {
        @apply grid lg:justify-center;
      }
    }
  }
  .link {
    @apply text-link  text-text_base lg:text-text_21;
    font-weight: 600;
  }
}

//partners
.partners {
  &__wrapper {
    margin-inline: -32px;
    @screen lg {
      margin-inline: -30px;
    }
  }
  .list {
    @apply inline-flex gap-4;
    .item {
      @apply text-text_base text-accept border border-secondary;
      border-radius: 20px;
      padding-block: 26px;
      padding-inline: 24px;
    }
  }
}

//map
.map {
  &__wrapper {
    display: grid;
    gap: 16px;
    @screen lg {
      gap: 32px;
    }
  }
  &__select {
    @apply lg:hidden;
  }
  &__btns {
    @apply hidden lg:flex gap-2 overflow-auto -mr-8 lg:mr-[-30px];
    & > * {
      width: fit-content;
    }
  }
  &__content {
    @apply grid gap-6 lg:grid-cols-[278px_1fr] lg:items-center;
  }
  &__contacts {
    background: white;
    border-radius: 20px;
    border: 1px solid theme("colors.border");
    padding: 24px 20px;
    display: grid;
    gap: 24px;
    @screen lg {
      max-width: 278px;
    }
    &--title {
      @apply text-text_30 text-secondary;
    }
    &--bottom {
      @apply grid gap-6 lg:gap-4;
    }
    &--subtitle {
      @apply text-secondary_hover text-text_40 mb-2;
    }
    &--addr {
      font-style: normal;
    }
    &--addr,
    &--work {
      @apply text-text_base font-semibold;
    }
  }

  #map {
    border-radius: 20px;
    overflow: hidden;
    height: 208px;
    @screen lg {
      height: 587px;
    }
  }
}

//rules-residence
.rules-residence {
  & > div {
    @apply grid gap-6 lg:grid-cols-[690px_1fr];
    p {
      @apply text-m_text_21 lg:text-text_30;
    }
    & > :last-child {
      @apply lg:justify-self-center;
    }
  }
}

//kap-remont
.kap-remont {
  p.text {
    @apply text-m_text_21 lg:text-text_21 mb-6 lg:mb-12;
  }
}

//files
.files {
  .list {
    @apply grid gap-4 lg:gap-5 lg:grid-cols-2;
  }
}

//faq
.faq {
  &__wrapper {
    display: grid;
    gap: 14px;
    @screen lg {
      gap: 34px;
    }
    & > div {
      @apply grid gap-6 lg:gap-8;
      & > .text {
        @apply text-accept_blue text-text_base;
        @screen lg {
          font-size: 20px;
          line-height: 26px;
        }
      }
    }
  }
}

//contacts-map
.contacts-map {
  &__wrapper {
    @apply grid gap-8 lg:grid-cols-[1fr_724px];
    & > :first-child {
      display: grid;
      gap: 24px;
      align-content: start;
    }
    #contacts {
      height: 208px;
      border-radius: 20px;
      overflow: hidden;
      @screen lg {
        height: 100%;
        min-height: 440px;
      }
    }
  }
  &__link {
    @apply grid gap-4;
    &--title {
      @apply text-text_40;
    }
    &--address {
      @apply text-text_30;
      font-style: normal;
    }
    &--link {
      @apply text-text_21 text-link;
      font-style: normal;
    }
  }
}

//home-list
.home-list {
  &__wrapper {
    @apply grid gap-4 lg:grid-cols-3;
  }
}

//card-home
.card-home {
  @media screen and (max-width: 1199px) {
    padding-inline: 24px;
  }

  .breadcamps {
    @apply mb-8 lg:mb-10;
  }
  h2 {
    margin-bottom: 24px;
    @screen lg {
      margin-bottom: 34px;
    }
  }
  &__contacts {
    display: grid;
    gap: 14px;
    align-content: start;
    @screen lg {
      gap: 24px;
    }
    & > div {
      display: grid;
      gap: 14px;
    }
    &--title {
      @apply text-text_40 font-normal;
    }
    &--text {
      @apply text-text_30;
    }
    address {
      font-style: normal;
    }
    a {
      @apply text-link;
    }
  }
  &__time {
    display: grid;
    align-content: start;
    gap: 14px;
    @screen lg {
      gap: 16px;
    }
    &--title {
      @apply text-accept text-m_text_21 lg:text-text_30;
    }
    &--list {
      display: grid;
      gap: 12px;

      @screen lg {
        gap: 14px;
      }
      .item {
        @apply text-text_base;
      }
      .off {
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }
  &__top-list {
    margin-bottom: 32px;
  }
  &__top-list {
    @apply grid gap-8 lg:grid-cols-2;
  }
  &__bottom-list .title {
    @apply text-accept text-m_text_21 lg:text-text_30;
    margin-bottom: 14px;
    @screen lg {
      margin-bottom: 16px;
    }
  }
  &__bottom-list .list {
    @apply grid gap-[14px] lg:gap-[19px] lg:grid-cols-2;
  }
  &__bottom-list .list .item {
    @apply text-text_base;
  }
}

//about
.about {
  @apply text-text_base lg:text-text_30;
}

//history
.history {
  & > img {
    margin-bottom: 16px;
    @screen lg {
      margin-bottom: 80px;
    }
  }
  .slider {
    margin-inline: -31px;
  }
}

//advantages

.advantages {
  &__content {
    @apply grid lg:gap-16 lg:grid-cols-2;
    @screen lg {
      grid-template-columns: 1fr 674px;
    }
    & > img {
      display: none;
      @screen lg {
        display: block;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
    }
    ul {
      @apply grid gap-4 lg:gap-[14px] lg:grid-cols-2;
      li {
        @apply p-6 bg-white text-text_base grid gap-6 border border-accept_blue font-normal;
        border-radius: 20px;
        min-height: 252px;
        align-content: start;
        .icon {
          width: 44px;
          height: 44px;
          display: grid;
          place-content: center;
          background: theme("colors.secondary");
          border-radius: 10px;
          svg {
            width: 32px;
            height: 32px;
            color: white;
          }
        }
      }
    }
  }
}

//management-company
.management-company {
  &__content {
    @apply grid gap-8;
  }
  &__block {
    h4 {
      @apply text-m_text_21 lg:text-text_21 mb-3.5 lg:mb-5 font-semibold text-accept_blue;
    }
    .list {
      @apply grid gap-4;
    }
  }
}

//our-achievements
.achievements {
  .list {
    @apply grid grid-cols-2 gap-2 lg:gap-5 lg:grid-cols-4;
    & > div {
      background-color: white;
      height: 243px;

      @screen lg {
        height: 432px;
      }
      & > img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

//news-card
.news-card {
  @apply grid gap-6 lg:gap-8;
  & img {
    width: 100%;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
    @screen lg {
      height: 620px;
    }
  }
  @apply text-text_base lg:text-text_21;
}
