extend ../layouts/main.pug
include ../mixins/button.pug
include ../mixins/button-sm.pug
include ../mixins/svg.pug



//- .container
    //- main
        //- include ../components/news-main.pug
//- h1=navigation[1]
//- h1=title
//- include ../components/nav.pug
//- img(src="/src/assets/images/bg2.png" style="max-width: 400px")
//- img(src="/public/images/bg.png" style="max-width: 400px")
//- +button("test")
//- +button-sm("test")(class="btn-sm__border")
//- include ../components/footer.pug 
//- script(type="module" src="/src/js/main.ts")


block top
  include ../components/header.pug 
  section.section-first.full
    .swiper.general-slider
      .swiper-wrapper
        .swiper-slide
          picture
            source(media="(max-width: 1024px)" srcset="/public/images/headslider/mob-slide1.png" )
            img(src="/public/images/headslider/slide1.png"  )
          +button-sm("test", 'href')

        .swiper-slide
          picture
            source(media="(max-width: 1024px)" srcset="/public/images/headslider/mob-slide2.png" )
            img(src="/public/images/headslider/slide2.png"  )
          +button-sm("test", 'href')
        .swiper-slide
          picture
            source(media="(max-width: 1024px)" srcset="/public/images/headslider/mob-slide3.png" )
            img(src="/public/images/headslider/slide3.png"  )
          +button-sm("test", 'href')
        .swiper-slide
          picture
            source(media="(max-width: 1024px)" srcset="/public/images/headslider/mob-slide4.png" )
            img(src="/public/images/headslider/slide4.png"  )
          +button-sm("test", 'href')
      .swiper-pagination
      .btn-prev
        +svg('arrow-back', 35)
      .btn-next
        +svg('arrow-forward', 35)
    //- h1 Крупнейшая <br/> УК в Республике
  
block content
    include ../components/news-main.pug
    include ../components/transmission-readings.pug
    include ../components/map.pug
    include ../components/partners.pug
