include ../mixins/svg.pug
.accordeon 
  .item
    .item__head 
      div Работы, выполняемые для надлежащего содержания стен:
      +svg('plus', 35)
    .item__body 
      .item__body-wrapper
        div 
          div
            .title Сроки, периодичность выполнения: 2 раза в год
            .text Выявление отклонений от проектных условий эксплуатации, несанкционированного изменения конструктивного решения, признаков потери несущей способности, нарушения теплозащитных свойств, гидроизоляции междуцокольной частью здания и стенами, неисправности водоотводящих устройств.
          div
            .title Сроки, периодичность выполнения: 2 раза в год
            .text Выявление отклонений от проектных условий эксплуатации, несанкционированного изменения конструктивного решения, признаков потери несущей способности, нарушения теплозащитных свойств, гидроизоляции междуцокольной частью здания и стенами, неисправности водоотводящих устройств.
