include ../mixins/button-sm.pug
section.section.section__other.contacts 
    h2 Наши контакты
    ul 
      li 
        div 
          h4 Телефон
          a.link(href="tel:+73473279077") +7(3473) 27-90-77
        a(href="tel:+73473279077" class="btn-sm") Позвоните нам
        
      li 
        div 
          h4 Почта
          a.link(href="mailto:tjh@list.ru") tjh@list.ru
        div 
          h4 Адрес
          address г. Стерлитамак, ул. Коммунистическая, 75б
      li 
        div 
          h4 Мессенджеры и соц.сети
          div.soc 
            a(href="/") 
              +svg('vk',36)(class="text-secondary")
            a(href="/") 
              +svg('telegram',36)(class="text-secondary")
        div 
          h4 Часы работы
          div.work-time
            span пн-чт 08:30-17:30
            span пт 8:30-16:30
            span Обед с 13:00-13:48