
footer.footer
  .container 
    .footer-desk
      a(href="/" class="logo") 
        img(src="/public/images/logo-mono.svg", alt="")
      nav 
        div 
          h4 О компании
          .list 
            a(href="/").item О нас
            a(href="/").item Новости
            a(href="/").item Наши преимущества
            a(href="/").item Документы
        div 
          h4 Для жителей 
          .list 
            a(href="/").item Информация для жителей
            a(href="/").item Дневник благоустройства
            a(href="/").item Полезные советы
            a(href="/").item Соседский центр
        div 
          h4 Наши дома
          .list 
            a(href="/").item Наши дома
            a(href="/").item История
    .footer-mob 
      a(href="/" class="logo")
        img(src="/public/images/logo-mono.svg", alt="")
      .accordeon.accordeon-other
        .item
          a(href="/").item__head О компании
        .item
          .item__head 
            div Для жителей
            +svg('down', 24)
          .item__body 
            .item__body-wrapper
              div 
                a(href="/" ) Test
                a(href="/" ) Test
                a(href="/" ) Test
                a(href="/" ) Test
        .item
          .item__head 
            div Для жителей
            +svg('down', 24)
          .item__body 
            .item__body-wrapper
              div 
                a(href="/" ) Test
                a(href="/" ) Test
                a(href="/" ) Test
                a(href="/" ) Test
                
