section.section.partners 
  h2 ПАРТНЕРЫ
  .partners__wrapper
    .marquee
      div(class="marquee__direction")
        .marquee__direction-container
          .marquee__direction-right
            .list 
              each item in [1,2,3,4,5]
                .item ЕДС
                .item АС Профссервис
                .item Стройинвест
          .marquee__direction-right
            .list 
              each item in [1,2,3,4,5]
                .item ЕДС
                .item АС Профссервис
                .item Стройинвест
      div(class="marquee__direction")
        .marquee__direction-container.left
          .marquee__direction-left
            .list 
              each item in [1,2,3,4,5]
                .item ЕДС
                .item АС Профссервис
                .item Стройинвест
              
          .marquee__direction-left
            //- .list 
              each item in [1,2,3,4,5]
                .item ЕДС
                .item АС Профссервис
                .item Стройинвест
              
