
.select(data-sel) 
  input(type="text" name='name' hidden)
  .select__head Выберите участок 
  .select__body  
    .select__body-wrapper
      .select__options 
        div(data-val="1") Участок №1
        div(data-val="2") Участок №2
        div(data-val="3") Участок №3
        div(data-val="4") Участок №4
        div(data-val="5") Участок №5
