section.section.transmission-readings
  h2 Передача показаний
  ul 
    li 
      div(class="text-border number") 01
      div.content
        div Единый диспетчерский центр круглосуточно: 
        div.links 
          a.link(href="tel:+79173649774") 8-917-3649774, 
          a.link(href="tel:+73473303200") 8(3473)30-32-00,
          a.link(href="tel:+73473304003") 8(3473) 30-40-03, 
          a.link(href="tel:+73473411533") 8(3473) 41-15-33, 
          a.link(href="tel:+78003473123") 8-800-3473123, 
    li 
      div(class="text-border number") 02
      div.content
        div  
          | По СМС на номер:
          a.link(href="tel:+79378415422") 8-937-8415422
          | по тарифу Вашего оператора  
        div 
          | Текст сообщения: ЕРЦСТР ххххххх ХВ__ГВ__ХК__ГК__Э__или отправить письмо на электронную почту
          a.link(href="mailto:pok@rsc-str.ru") pok@rsc-str.ru,
          | где ххххххх — это номер лицевого счета
        div
          span ХВ- холодная вода ванная;
          span ГВ – горячая вода ванная;ХК - холодная вода кухня;
          span ГК - горячая вода кухня;
    li 
      div(class="text-border number") 03
      div.content
        | Так же вы можете передать показания через телеграм-бота 
        a.link(href="/") @ErcStrBot

        span  далее выполняя всю последовательность бота
    li
      div(class="text-border number") 04
      div.content
        div С помощью голосового помощника по тел. 
        div.links 
          a.link(href="tel:+73472222200") 8(347)222-22-00, 
          a.link(href="tel:+73472222255") 8(347)222-22-55; 
        div 
          | На сайте 
          a.link(href="/") ЕИРЦ РБ (eirc-rb.ru)
          | без регистрации, нажав на круглый виджет «Оплатить квитанцию онлайн»;


