section.section.about 
  h2 О компании
  div.content 
    p &nbsp; По состоянию на 1 сентября 2024 года общая численность жителей в многоквартирных жилых домах составляет более 110 тысяч человек, открыто более 50 тысяч лицевых счётов. Управляющая компания ТЖХ ведёт работу по содержанию более 500 домов.   
    br
    p &nbsp; Мы добились отличных результатов и не собираемся останавливаться на достигнутом! Все работы по текущему ремонту проводятся по утверждённым планам собственниками многоквартирных домов.   
    br
    p &nbsp; Наш жилой фонд регулярно участвует в таких республиканских программах как: 
    p - Региональный оператор капитального ремонта общего имущества в МКД; (Ремонт и замена лифтов; Ремонт крыши, фасада; Водоснабжения; Газоснабжения; Электроснабжения) 
    p - Башкирские дворики;     
    br
    p &nbsp; Значительное внимание управляющая компания уделяет информированию жителей.    
    p &nbsp; Для взаимодействия жителей с управляющей компанией, в соответствии с законодательством управляющая компания активно ведёт работу с Единым диспетчерским центром, все участки нашей компании переведены на круглосуточную связь через ЕДЦ.  
    p &nbsp; Основным Преимуществом для жителей здесь является:
    p Поддержка — Единые телефонные номера по которым легко дозвониться круглосуточно:
    p ☎️8(800) 34–73–123; 
    p ☎️8(917) 364–97–74; 
    p ☎️8(3473) 30–32–00; 
    p ☎️8(3473) 30–40–03; 
    p ☎️8(3473) 41–15–33.
    br
    p &nbsp; Мобильность — можно вызвать мастера, передать показания счётчиков, также можно при помощи сайта WWW.EDC-STR.RU сделать заявку или передать показания.   
    br
    p &nbsp; Связь — поддержка постоянной двухсторонней связи с заявителем, контроль за исполнением заявок.  
    p &nbsp; К сведению, нашу управляющую компанию обслуживают 6 отделений расчётно-сервисного центра, таким образом одно отделение обслуживает в среднем 2 участка, и особые преимущества для жителей — это в удобном территориальном расположении этих отделений. В шаговой доступности жители могут получить справки, оплатить коммунальные услуги, выяснить вопросы, касающиеся начислений и ряда других услуг.
    br
    p &nbsp; Управляющая Компания «Трест Жилищного Хозяйства» благодарит всех жителей многоквартирных домов за активное взаимодействие и желает всем нам совместной плодотворной работы.