section.section.advantages 
  h2 Наши преимущества
  
  .advantages__content 
    img(src="/src/assets/images/history.jpg")
    ul 
      li 
        .icon 
          +svg('advantages-1')
        p Oнлайн мониторинг потреблений коммунальных ресурсов (ЛЭРС учёт на более чем на 95% многоквартирных домах).
      li 
        .icon 
          +svg('advantages-2')
        p В шаговой доступности от многоквартирных домов расположены представительства УК ТЖХ (13 ЖЭУ), а также 6 отделений расчётно-сервисных центров.
      li 
        .icon 
          +svg('advantages-3')
        p Профессионализм — сертифицированные сотрудники и их постоянное обучение. 
      li 
        .icon 
          +svg('advantages-4')
        p В рамках социального проекта организованы: «Соседские центры», где каждый житель может принять участие в различных мастер-классах, лекциях, семинарах и многое другое 
      li 
        .icon 
          +svg('advantages-5')
        p На регулярной основе проведение праздников дворов, зимних мероприятий и так далее.
      li 
        .icon 
          +svg('advantages-6')
        p Круглосуточное обслуживание аварийной службой, наличие колл-центра (ЕДЦ). 