section.section.faq 
  h2 Перечень работ и услуг УК
  .faq__wrapper 
    div
      p.text Работы, необходимые для надлежащего содержания несущих конструкций (фундаментов, стен, перекрытий и покрытий, балок, лестниц, ненесущих элементов крыш) и ненесущих конструкций (перегородок, внутренней отделки, полов)
      include ../components/accordeon.pug
    div
      p.text Работы, необходимые для надлежащего содержания несущих конструкций (фундаментов, стен, перекрытий и покрытий, балок, лестниц, ненесущих элементов крыш) и ненесущих конструкций (перегородок, внутренней отделки, полов)
      include ../components/accordeon.pug