section.section.faq 
  h2 Для владельцев нежилых помещений
  p Работы, необходимые для надлежащего содержания несущих конструкций (фундаментов, стен, перекрытий и покрытий, балок, лестниц, ненесущих элементов крыш) и ненесущих конструкций (перегородок, внутренней отделки, полов)
  include ../componetns/accordeon.pug