section.section.news-card
  a(href="/public/images/kap-remont/1.png" data-fancybox)  
    img(src="/public/images/kap-remont/1.png", alt="")
  div.new-card__content
    h4 Идея открыть «Соседский центр, на базе офисов Управляющей компании, появилась у нас давно. 
    br
    p Используйте сложные пароли.
    br
    p ✅ Включите двухфакторную аутентификацию для всех своих аккаунтов.
    br
    p ✅ Установите и регулярно обновляйте антивирусное программное обеспечение и операционные системы.
    br
    p ✅ Не открывайте подозрительные письма и вложения, не переходите по ссылкам, где требуется ввести личную информацию.
    br
    p ✅ Защитите домашний Wi-Fi паролем.
    br
    p ✅ Не выкладывайте в интернет слишком много информации о себе и не делитесь ею с сомнительными сайтами.
    br
    p ✅ Рассказывайте своим детям и родителям о кибербезопасности. Научите их быть осторожными в интернете и обсуждать с вами любые сомнительные ситуации.