include ../mixins/file.pug
section.section.rules-residence
  h2 Правила проживания и эксплуатации жилого помещения
  div 
   p.text В своём стремлении улучшить пользовательский опыт мы упускаем, что акционеры крупнейших компаний объявлены нарушающими общечеловеческие нормы этики и морали. Наше дело не так однозначно, как может показаться: дальнейшее развитие различных форм деятельности требует анализа глубокомысленных рассуждений. А также представители современных социальных резервов обнародованы.
   .doc
    +file("pdf", '/', 'в формате pdf _')
