include ../mixins/svg.pug
include ../mixins/button-sm.pug
doctype html
html
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title=title
    link(rel="stylesheet" href="/src/styles/main.scss")
    
body
    include ../components/sidebar.pug
    #info.info
        .content
            p Этот сайт использует сервис веб-аналитики Яндекс Метрика, предоставляемый компанией ООО «ЯНДЕКС», 119021, Россия, Москва, ул. Л. Толстого, 16 (далее Яндекс). Яндекс будет обрабатывать эту информацию в интересах владельца сайта, в частности, для оценки использования вами сайта, составления отчетов об активности на сайте. Яндекс обрабатывает эту информацию в порядке, установленном в Условиях использования сервиса Яндекс Метрика. Вы можете отказаться от использования cookies, выбрав соответствующие настройки в браузере. Используя этот сайт, вы соглашаетесь на обработку данных о вас порядке и целях, указанных выше.
            +button-sm("Принять")
    block top
    .container
        main
            block content    
            include ../components/contacts.pug
    include ../components/footer.pug 
    script(type="module" src="/src/js/main.ts")